.ClockIn_Container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
}

.header-ClockIn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    height: 31px;
    padding-left: 15px;
    background-color: rgb(32, 29, 77) !important;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.emri-line-late{
    width: 100%;
    display: flex;
   
}
.emri-line-late span{
    width: 100%;
}
span.line-late {
    width: -webkit-fill-available;
    border-bottom: 1px solid rgb(219, 215, 215);
    margin-right: 51px;
    margin-bottom: 7px;
}
.clockLateRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 15px ;
    font-size: 10px;
}
.hoursLatee {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
    width: 40px;
    height: 20px;

}